.container {
  max-width: 1000px; 
  margin: 0 auto; 

}

button {
  margin-right: 5px; 
  margin-top: 10px; 
}

h2, 
h3 {
  margin-top: 10px; 
}

.navLink {
  margin-right: 10px; 
  margin-top: 20px;
  display: inline-block;  
}

.inactive {
  pointer-events: none;
   cursor: default;
}
